* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #e0e0ff;
  font-family: "Courier New", monospace;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.taskbar {
  width: 100%;
  height: 5%;
  background: #c0c0c0;
  border-top: 2px solid #000;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

.timedate {
  width: auto;
  height: auto;
  display: flex;
  position: fixed;
  right: 5px;
  margin-right: 20px;
  font-size: 2vh;
  background: #ffffaa;
  box-shadow: 2px 2px 0 #000;
}

#desktop{
  width: 100%;
  height: 100%;
  position: relative;
}

.applications-desktop {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.applications {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.application-icon {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  image-rendering: pixelated;
  object-fit: contain;
}

.application-icon:hover {
  background: #ffffaa;
  box-shadow: 2px 2px 0 #000;
}

.application-icon:active {
  box-shadow: inset 2px 2px 0 #000;
}

.window {
  visibility: visible;
  width: 50%;
  background: #fff;
  border: 3px solid #000;
  border-radius: 6px;
  box-shadow: 6px 6px #000;
  overflow: hidden;
  position: fixed;
  top: 50px;
  left: 25vw;
}

.title-bar {
  background: linear-gradient(#c0c0c0, #a0a0aa);
  height: 32px;
  padding: 0 10px;
  border-bottom: 2px solid #000;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.title-bar:active {
  cursor: grabbing;
}

.btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000;
  display: inline-block;
  cursor: pointer;
}

.btn.close { background: #ff5f56; }
.btn.yellow { background: #ffbd2e }
.btn.green { background: #27c93f }

.btn.close:hover { background: #ff1f26; }
.btn.yellow:hover { background: #ff9d0e; }
.btn.green:hover { background: #0f9937; }

.tabs {
  display: flex;
  background: #dcdcdc;
  border-bottom: 2px solid #000;
  padding: 4px 20px 0;
}

.tabs label {
  color: #00000083;
  padding: 6px 12px;
  cursor: pointer;
  border: 2px solid #000;
  border-bottom:  2px solid #000;
  background: #bfbfbf;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 13px;
  transition: background 0.2s;
  position: relative;
  top: 2px;
}

.tabs label:hover {
  background: #fffacd;
}

input[type="radio"] {
  display: none;
}

.content {
  padding: 25px 30px;
  font-size: 14px;
  min-height: 300px;
}

/* active tabs */
#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"],
#tab3:checked ~ .tabs label[for="tab3"] {
  background: #fff;
  color: #000;
  border-bottom: 2px solid #fff;
  z-index: 2;
}

.hero {
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #ffe4f0;
  border: 2px solid #000;
  border-radius: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.hero .pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
  display: block;
  margin: 0 auto 15px auto;
}

/*icons*/

.icon-links {
  display: flex;
  gap: 15px;
  justify-content: left;
  margin-top: 10px;
}

.icon-links img {
  width: 50px;
  height: 50px;
  padding: 4px;
  transition: transform 0.1s;
}

.icon-links img:hover{
  transform: scale(1.1);
}

/*projects*/

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.project-card {
  background: #ffe4f0;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 15px;
  width: 250px;
  text-align: center;
}

.project-card:hover {
  background: #fff8dc;
}

.project-card h3 {
  margin-bottom: 8px;
}

.project-card a {
  color: #0000ee;
  text-decoration: underline;
}

.footer {
  padding: 8px 12px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.music {
  color: rgb(0, 141, 14);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}



